:root {
  /* Northwell Health logo colors. */
  --color-alizarin-crimson--54: hsl(5, 76%, 54%);
  --color-international-orange--56: hsl(20, 100%, 56%);
  --color-selective-yellow--50: hsl(44, 100%, 50%);
  --color-atlantis--67: hsl(83, 58%, 67%);
  --color-apple-43: hsl(112, 59%, 43%);
  --color-spring-green--25: hsl(148, 100%, 25%);
  --color-scooter--65: hsl(195, 64%, 65%);
  --color-azure-radiance--44: hsl(199, 100%, 44%);
  --color-blue-ribbon--32: hsl(218, 100%, 32%);
  --color-blue-violet--70: hsl(240, 40%, 70%);
  --color-electric-violet--29: hsl(278, 85%, 29%);
  --color-studio--65: hsl(289, 40%, 65%);
  --color-purple-heart--44: hsl(290, 63%, 44%);

  /* ------------------------------------------------------------------------ */

  --color-gray--15: hsl(0, 0%, 15%);
  --color-gray--15__30: hsla(0, 0%, 15%, 0.3);
  --color-gray--40__50: hsla(0, 0%, 40%, 0.5);
  --color-gray--40__75: hsla(0, 0%, 40%, 0.75);
  --color-gray--50__50: hsla(0, 0%, 50%, 0.5);
  --color-gray--55__50: hsla(0, 0%, 55%, 0.5);
  --color-gray--60__50: hsla(0, 0%, 60%, 0.5);
  --color-gray--62__50: hsla(0, 0%, 62%, 0.5);
  --color-gray--70__50: hsla(0, 0%, 70%, 0.5);
  --color-gray--85: hsla(0, 0%, 85%);
  --color-gray--95: hsl(0, 0%, 95%);
  --color-gray--98: hsl(0, 0%, 98%);

  --color-alizarin-crimson--30: hsl(5, 76%, 30%);
  --color-alizarin-crimson--40: hsl(5, 76%, 40%);
  --color-alizarin-crimson--50: hsl(5, 76%, 50%);
  --color-alizarin-crimson--60: hsl(5, 76%, 60%);
  --color-alizarin-crimson--90: hsl(5, 76%, 90%);

  --color-apple--30: hsl(112, 59%, 30%);
  --color-apple--40: hsl(112, 59%, 40%);
  --color-apple--50: hsl(112, 59%, 50%);
  --color-apple--60: hsl(112, 59%, 60%);
  --color-apple--90: hsl(112, 59%, 90%);
  --color-apple--95: hsl(112, 59%, 95%);

  --color-blue-violet--40: hsl(240, 40%, 40%);
  --color-blue-violet--50: hsl(240, 40%, 50%);
  --color-blue-violet--55: hsl(240, 40%, 55%);
  --color-blue-violet--60: hsl(240, 40%, 60%);
  --color-blue-violet--65: hsl(240, 40%, 65%);
  --color-blue-violet--75: hsl(240, 40%, 75%);
  --color-blue-violet--80: hsl(240, 40%, 80%);
  --color-blue-violet--85: hsl(240, 40%, 85%);
}
