# https://eslint.org/docs/user-guide/configuring#ignoring-files-and-directories
# https://github.com/facebook/jest/blob/master/.eslintignore

**/node_modules/**
!.eslintrc.js

*.min.js

dist/*

output/*
