/* @import url("../client/src/uy/color.css"); */
/* @import url("./theme/color.css"); */

/* drupal_add_css("$path/client/src/uy/color.css");
drupal_add_css("$path/client/src/uy/uy.css");
drupal_add_css("$path/client/src/uy/component/checkbox.css");
drupal_add_css("$path/client/src/uy/component/checklist.css");
drupal_add_css("$path/client/src/uy/component/dropdown.css");
drupal_add_css("$path/client/src/uy/component/datePicker.css");
drupal_add_css("$path/client/src/uy/component/dropdown.css");
drupal_add_css("$path/client/src/uy/component/fieldset.css");
drupal_add_css("$path/client/src/uy/component/pager.css");
drupal_add_css("$path/client/src/uy/component/radios.css");
drupal_add_css("$path/client/src/uy/component/table.css");
drupal_add_css("$path/client/src/uy/component/tabs.css");
drupal_add_css("$path/client/src/uy/component/textbox.css");
drupal_add_css("$path/client/src/uy/storyboard/storyboard.css"); */

/* @import url("./theme/font.css"); */

@import url(./component/checkbox.css);
@import url(./component/checklist.css);
@import url(./component/datePicker.css);
@import url(./component/dropdown.css);
@import url(./component/fieldset.css);
@import url(./component/multiSelect.css);
@import url(./component/pager.css);
@import url(./component/radios.css);
@import url(./component/spinner.css);
@import url(./component/table.css);
@import url(./component/tabs.css);
@import url(./component/textbox.css);

/* @import url("./theme/theme.css"); */

/* -------------------------------------------------------------------------- */

.hidden {
  display: none !important;
}

/* -------------------------------------------------------------------------- */

/* https://codepen.io/MathieuRichard/pen/HAgnm */

.scroller::-webkit-scrollbar {
  width: 20px;
}

.scroller::-webkit-scrollbar-thumb {
  background-color: var(--color-gray--85);
  border: var(--regular-border-width) solid hsl(0, 0%, 65%);
  border-top: 0;
  border-bottom: 0;
}

.scroller::-webkit-scrollbar-track {
  background-color: hsl(0, 0%, 75%);
}

/* -------------------------------------------------------------------------- */

.uy-field label {
  color: var(--regular-label-color);
  cursor: pointer;
  font-family: var(--regular-font-family);
  font-size: var(--regular-font-size);
  outline: 0;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}
.uy-field label:hover {
  color: var(--regular-label-color--hover);
}
.uy-field label:focus {
  color: var(--regular-label-color--focus);
}
.uy-field label:active {
  color: var(--regular-label-color--active);
}
.uy-field label.disabled {
  color: var(--regular-label-color--disabled);
  pointer-events: none;
}

/* -------------------------------------------------------------------------- */

.uy-input {
  background-color: var(--regular-input-bg-color);
  border-color: var(--regular-input-border-color);
  border-style: solid;
  border-width: var(--regular-border-width);
  color: var(--regular-input-color);
  font-family: var(--regular-font-family);
  font-size: var(--regular-font-size);
  padding: var(--regular-input-padding);
  outline: 0;
}
.uy-input:hover {
  background-color: var(--regular-input-bg-color--hover);
  border-color: var(--regular-input-border-color--hover);
  color: var(--regular-input-color--hover);
}
.uy-input:focus {
  background-color: var(--regular-input-bg-color--focus);
  border-color: var(--regular-input-border-color--focus);
  color: var(--regular-input-color--focus);
}
.uy-input:active {
  background-color: var(--regular-input-bg-color--active);
  border-color: var(--regular-input-border-color--active);
  color: var(--regular-input-color--active);
}
.uy-input:disabled {
  background-color: var(--regular-input-bg-color--disabled);
  border-color: var(--regular-input-border-color--disabled);
  color: var(--regular-input-color--disabled);
  pointer-events: none;
}
.uy-input.locked {
  border-color: var(--regular-input-border-color--disabled);
}

/* -------------------------------------------------------------------------- */

.uy-button button {
  background-color: var(--regular-button-bg-color);
  border-color: var(--regular-button-border-color);
  border-style: solid;
  border-width: var(--regular-border-width);
  color: var(--regular-button-color);
  cursor: pointer;
  font-family: var(--regular-font-family);
  font-size: var(--regular-font-size);
  outline: 0;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}
.uy-button button:hover {
  background-color: var(--regular-button-bg-color--hover);
  border-color: var(--regular-button-border-color--hover);
  color: var(--regular-button-color--hover);
}
.uy-button button:focus {
  background-color: var(--regular-button-bg-color--focus);
  border-color: var(--regular-button-border-color--focus);
  color: var(--regular-button-color--focus);
}
.uy-button button:active {
  background-color: var(--regular-button-bg-color--active);
  border-color: var(--regular-button-border-color--active);
  color: var(--regular-button-color--active);
}
.uy-button button:disabled {
  background-color: var(--regular-button-bg-color--disabled);
  border-color: var(--regular-button-border-color--disabled);
  color: var(--regular-button-color--disabled);
  pointer-events: none;
}

/* -------------------------------------------------------------------------- */

/* .my-horizontal {
  align-items: center;
  display: flex;
}

.my-horizontal > * + * {
  margin-left: 0.5em;
}

.my-horizontal > * + .my-checkbox-wrapper {
  margin-left: 2em;
}

.my-table .my-horizontal .my-text-box-wrapper {
  margin-left: 0.5em;
}

.my-table .my-horizontal .my-text-box {
  width: 10em;
} */

/* -------------------------------------------------------------------------- */

.uy-row {
  display: flex;
}

.uy-row > * + * {
  margin-left: 1em;
}
