.uy-tabs-item {
  font-family: var(--uy-font-family);
  padding: var(--uy-input-padding);
}
.uy-tabs-item:hover {
  background-color: hsl(0, 0%, 70%);
}
.uy-tabs-item:active {
  /* background-color: hsl(0, 0%, 65%); */
}
.uy-tabs.disabled > .uy-tabs-navigation > .uy-tabs-list > .uy-tabs-item {
  /* background-color: var(--uy-selected-bg-color--disabled); */
  border-color: var(--uy-selected-border-color--disabled);
  color: var(--uy-label-color--disabled);
}

.uy-tabs-item.selected {
  background-color: var(--uy-selected-bg-color);
  border-color: var(--uy-selected-border-color);
  color: var(--uy-selected-color);
}
.uy-tabs-item.selected:hover {
  background-color: var(--uy-selected-bg-color--hover);
  border-color: var(--uy-selected-border-color--hover);
  color: var(--uy-selected-color--hover);
}
.uy-tabs-item.selected:active {
  background-color: var(--uy-selected-bg-color--active);
  border-color: var(--uy-selected-border-color--active);
  color: var(--uy-selected-color--active);
}
.uy-tabs.disabled > .uy-tabs-navigation > .uy-tabs-list > .uy-tabs-item.selected {
  background-color: var(--uy-selected-bg-color--disabled);
  border-color: var(--uy-selected-border-color--disabled);
  color: var(--uy-label-color--disabled);
}

.uy-tabs-panels {
  /* background-color: #d7d7d7; */
  /* border: var(--uy-border-width) solid hsl(0, 0%, 65%); */
  /* border: var(--uy-border); */
  /* border-width: var(--uy-border-width); */
  padding: var(--uy-input-padding);
}
.uy-tabs.disabled .uy-tabs-panels {
  color: var(--uy-label-color--disabled);
}
