/* https://www.inserthtml.com/2012/06/custom-form-radio-checkbox/ */

.uy-checkbox {
  align-items: center;
  display: flex;
}

.uy-checkbox label {
  align-items: center;
  display: flex;
  justify-content: stretch;
  float: left;
}

.uy-checkbox label span {
  align-items: center;
  display: flex;
  justify-content: stretch;
  margin-left: 0.5em;
}

.uy-checkbox input {
  appearance: none;
  -webkit-appearance: none;
  align-items: center;
  cursor: pointer;
  display: flex;
  float: left;
  justify-content: center;
  margin: 0;
  padding: 0.5em;
}
.uy-checkbox input:checked {
  color: var(--regular-input-color);
  content: "✔";
  font-size: 0.75em;
  position: absolute;
}
.uy-checkbox input:hover {
  color: var(--regular-input-color--hover);
}
.uy-checkbox input:focus {
  color: var(--regular-input-color--focus);
}
.uy-checkbox input:active {
  color: var(--regular-input-color--active);
}
.uy-checkbox input:disabled {
  color: var(--regular-input-color--disabled);
}
