.uy-fieldset {
  margin-top: 1em;
}

.uy-fieldset legend {
  margin-bottom: 0.5em;
}

.uy-fieldset.-reset {
  border: 1px solid grey;
  padding: 1em;
}

.uy-fieldset.-reset legend {
  border: 0;
  margin: 0;
  padding-left: 0.5em;
  padding-right: 0.5em;
  width: auto;
}
