.uy-input .uy-multiSelect-values {
  background-color: var(--regular-input-bg-color);
  border-color: var(--regular-input-border-color);
  border-style: solid;
  border-width: var(--regular-border-width);
  color: var(--regular-input-color);
  font-family: var(--regular-font-family);
  font-size: var(--regular-font-size);
  padding: var(--regular-input-padding);
  outline: 0;
}
.uy-input .uy-multiSelect-values:hover {
  background-color: var(--regular-input-bg-color--hover);
  border-color: var(--regular-input-border-color--hover);
  color: var(--regular-input-color--hover);
}
.uy-input .uy-multiSelect-values:focus {
  background-color: var(--regular-input-bg-color--focus);
  border-color: var(--regular-input-border-color--focus);
  color: var(--regular-input-color--focus);
}
.uy-input .uy-multiSelect-values:active {
  background-color: var(--regular-input-bg-color--active);
  border-color: var(--regular-input-border-color--active);
  color: var(--regular-input-color--active);
}
.uy-input .uy-multiSelect-values:disabled {
  background-color: var(--regular-input-bg-color--disabled);
  border-color: var(--regular-input-border-color--disabled);
  color: var(--regular-input-color--disabled);
  pointer-events: none;
}
.uy-input .uy-multiSelect-values.locked {
  border-color: var(--regular-input-border-color--disabled);
}

/* -------------------------------------------------------------------------- */

.uy-multiSelect {
}

.uy-multiSelect-values {
  border: 1px solid grey;
  /* display: grid; */
  /* justify-content: space-between; */
  padding: 0.5em;
  /* width: 30em; */
}

.uy-multiSelect-values * + * {
  /* margin-left: 0.25em; */
}

.uy-multiSelect-value {
  border: 1px solid grey;
  border-radius: 1em;
  display: inline-block;
  margin: 0.2em;
  padding: 0.2em 0.5em;
  white-space: nowrap;
}

.uy-multiSelect-value .uy-icon {
  color: hsla(0, 0%, 0%, 0.6);
  cursor: pointer;
  margin-left: 0.35em;
}
.uy-multiSelect-value .uy-icon:hover {
  color: red;
}

.uy-multiSelect-selector {
  background-color: green;
  /* border: 1px solid grey; */
  border-radius: 1em;
  color: white;
  cursor: pointer;
  display: inline-block;
  margin: 0.2em;
  padding: 0.25em 0.5em;
  white-space: nowrap;
}
