.uy-table table {
  --header-bg-color: var(--regular-input-border-color);
  --header-color: var(--regular-button-color);
  --sorted-header-bg-color: var(--color-blue-violet--75);
  --even-bg-color: var(--color-blue-violet--80);
  --even-bg-color--disabled: var(--color-gray--50__50);
  --odd-bg-color: var(--color-blue-violet--85);
  --odd-bg-color--disabled: var(--color-gray--60__50);

  border: var(--regular-border);
  border-collapse: collapse;
  border-top: 0;
  font-family: var(--regular-font-family);
}
.uy-table table.disabled {
  border-color: var(--regular-input-border-color--disabled);
}

/* https://stackoverflow.com/a/49510703/1935675 */
.uy-table table th {
  background-color: var(--header-bg-color);
  color: var(--header-color);
  font-size: calc(var(--regular-font-size) * 0.6);
  font-weight: normal;
  padding: 0.5em;
  position: sticky;
  top: 0;
  z-index: 10;
}
.uy-table table.disabled th {
  background-color: var(--regular-input-border-color--disabled);
  color: var(--regular-button-color--disabled);
}

.uy-table table tbody {
  border-top: var(--regular-border);
}
.uy-table table thead + tbody {
  border-top: 0;
}

.uy-table table tr {
  background-color: var(--odd-bg-color);
}
.uy-table table.disabled tr {
  background-color: var(--odd-bg-color--disabled);
}
.uy-table table tr:nth-child(even) {
  background-color: var(--even-bg-color);
}
.uy-table table.disabled tr:nth-child(even) {
  background-color: var(--even-bg-color--disabled);
}

.uy-table table td {
  font-size: var(--regular-font-size);
  padding: 0.2em;
}
.uy-table table.disabled td {
  color: var(--regular-label-color--disabled);
}

/* -------------------------------------------------------------------------- */

.uy-table table thead {
  border-bottom: 1px solid var(--color-blue-violet--60);
}

.uy-table table th {
  padding: 0.5em;
}
.uy-table table th.sortable {
  cursor: pointer;
}

.uy-table table td {
  padding: 0.5em;
}

.uy-table table .sort-column {
  background-color: var(--sorted-header-bg-color);
}

.uy-table table .sort-indicator {
  margin-left: 0.25em;
}

.uy-table-empty {
  text-align: center;
}
