.uy-tabs {
  --width: 500px;

  display: grid;
  grid-template-rows: auto auto;
}

.uy-tabs-navigation {
  align-items: center;
  display: flex;
}

.uy-tabs-navigation h2 {
  background-color: #d7d7d7;
  font-family: var(--regular-font-family);
  font-size: var(--regular-font-size);
  font-weight: normal;
  padding: 0.5em;
}

.uy-tabs-tab-list {
  display: flex;
  max-width: var(--width);
  overflow-x: auto;
  overflow-y: hidden;
}

.uy-tabs-tab {
  background-color: hsl(0, 0%, 75%);
  color: #333;
  cursor: pointer;
  font-family: var(--regular-font-family);
  font-size: 1.6rem;
  padding: 1.8em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  user-select: none;
}
.uy-tabs-tab:hover {
  background-color: hsl(0, 0%, 70%);
}
.uy-tabs-tab:active {
  background-color: hsl(0, 0%, 65%);
}
.uy-tabs-tab.selected {
  background-color: var(--regular-selected-bg-color);
  color: var(--regular-selected-color);
}
.uy-tabs-tab.selected:hover {
  background-color: var(--regular-selected-bg-color--hover);
  color: var(--regular-selected-color--hover);
}
.uy-tabs-tab.selected:active {
  background-color: var(--regular-selected-bg-color--active);
  color: var(--regular-selected-color--active);
}

.uy-tabs-content {
  background-color: #d7d7d7;
  border: var(--regular-border-width) solid hsl(0, 0%, 65%);
  padding: 0.5em;
}
