.uy-popper.uy-popper {
  padding: var(--uy-input-padding);
}

/* -------------------------------------------------------------------------- */

.uy-control-storyboard-popper {
  background-color: #555;
  height: 100px;
  position: relative;
  width: 100px;
}
