.uy-table table {
  /* TODO: */
  --header-bg-color: var(--color-blue-violet--65);
  --header-color: var(--uy-button-color);
  --sorted-header-bg-color: var(--color-blue-violet--70);
  --even-bg-color: var(--color-blue-violet--90);
  --even-bg-color--disabled: var(--color-gray--50__50);
  --odd-bg-color: var(--color-blue-violet--95);
  --odd-bg-color--disabled: var(--color-gray--60__50);

  border: var(--uy-border);
  border-collapse: collapse;
  border-top: 0;
  font-family: var(--uy-font-family);
}
.uy-table.disabled table {
  border-color: var(--uy-input-border-color--disabled);
}

.uy-table table th {
  background-color: var(--header-bg-color);
  color: var(--header-color);
  font-size: calc(var(--uy-font-size) * 0.8);
  font-weight: normal;
  padding: 0.5em;
}
.uy-table.disabled table th {
  background-color: var(--uy-input-border-color--disabled);
  /* TODO: */
  /* border-color: var(--uy-input-border-color--disabled); */
  color: var(--uy-button-color--disabled);
}

.uy-table table tbody {
  border-top: var(--uy-border);
}
.uy-table table thead + tbody {
  border-top: 0;
}

.uy-table table tr {
  background-color: var(--odd-bg-color);
}
.uy-table.disabled table tr {
  background-color: var(--odd-bg-color--disabled);
}
.uy-table table tr:nth-child(even) {
  background-color: var(--even-bg-color);
}
.uy-table.disabled table tr:nth-child(even) {
  background-color: var(--even-bg-color--disabled);
}

.uy-table table td {
  font-size: var(--uy-font-size);
  padding: 0.2em;
}
.uy-table.disabled table td {
  color: var(--uy-label-color--disabled);
}

/* -------------------------------------------------------------------------- */

.uy-table table thead {
  border-bottom: 1px solid var(--color-blue-violet--60);
}

.uy-table table th {
  padding: 0.5em;
}

.uy-table table td {
  padding: 0.5em;
}

.uy-table table .sort-column {
  background-color: var(--sorted-header-bg-color);
}

.uy-table table .sort-indicator {
  margin-left: 0.25em;
}

.uy-table-empty {
  text-align: center;
}
